[2018-04-07 05:45] matanki-saito opened #1 "EU4のバージョンとの同期"
考え中…

[2018-04-07 05:45] matanki-saito opened #2 "チェック"
考え中…

[2018-12-01 09:39] #1 closed

[2018-12-01 09:39] #2 closed

[2018-12-01 09:40] matanki-saito opened #3 "Paratranz features requests"
- commonファイルを正しく逆変換できない

[2018-12-01 09:50] oooFUNooo commented on #3
- commonだけでなくhistory以下も正しく逆変換できない
- txtファイルがCK2SpecialEncode形式に変換されない（UTF-8-BOMになる）
- 管理者権限がないとレビュー済みを取り消すことができない（仕様？）

[2018-12-05 02:09] oooFUNooo commented on #3
- 将来的には、検索で正規表現（Regular Expression）を使用できるようにして欲しい

[2018-12-05 13:18] matanki-saito commented on #3
- common
  - 検索で正規表現を使用したいです。
 I would like to use regular expressions in search.
![image](https://user-images.githubusercontent.com/35730970/49515387-1d201180-f8da-11e8-91a1-f4e51c6e6d55.png)
  - 管理者権限以外の人であっても、レビュー済みを取り消したいです。
 I want to give not only administrators but also general users the authority to cancel reviewed flag.
![image](https://user-images.githubusercontent.com/35730970/49515600-

[2018-12-06 13:14] bruceCzK commented on #3
Here's some workaround to some of the problems.

- 管理者権限以外の人であっても、レビュー済みを取り消したいです。
You can change the role of a member through Member Management page. A Proofreader can change string stage back to Translated or Disputed.
![image](https://user-images.githubusercontent.com/8399711/49567057-99146b00-f967-11e8-867f-24f7cd6d7c04.png)

-  検索でアンダーバーを認識してほしいです。例えば「k_」は王国称号の検索に必要です。
Fixed.

- 中央下部に提案される翻訳リ

[2018-12-09 14:44] bruceCzK commented on #3
- localisationフォルダ以外のtxtファイルのspecial-escapeがUTF8 BOMになります。CP1252が必要です。

**Solved.**

[2018-12-12 15:01] bruceCzK commented on #3
- ダウンロードしたファイルの中に壊れているtxtファイルがあります 。例えば、HAB_-_Austria.txtです

Fixed. If there's string already has a bad key name, just **Force Update** the file, and it will automatically delete those strings. After this, do a Manual Output (手動でエクスポート前処理を開始する)

[2018-12-13 09:45] bruceCzK commented on #3
- 翻訳ファイルのキーにはバージョンがあります。0, 1, 2 ...です。古いキーの項目はダウンロードされるファイルの中から削除したいです。もし2つ存在すると、ゲームでは古いキーが表示されることがあります。

Forgot to mention this. Already implemented as said above.

[2018-12-28 08:41] Test-of-gource commented on #3
翻訳のサジェストについて
- 中国語のものや全く異なるプロジェクトのものをサジェストしないでほしい
- キーの類似もサジェストしてほしい。k_austria_adjのサジェストにk_austriaが出てきてもいいはずだ。特にこれこそサジェストで楽したい単純作業なのに

[2018-12-31 11:16] oooFUNooo commented on #3
注釈（Notes）機能について
- プロジェクトの参加者以外が注釈を書き込めない設定を作成してください。
- 管理者が特定の注釈を削除できるようにしてください。

[2019-01-01 13:14] ma-oo commented on #3
前後のエントリへの移動機能がほしい
文脈の理解や、1文が複数エントリに分かれている場合などで役立ちます

[2019-01-31 07:10] bruceCzK commented on #3
Added a new language option for project. Source language and target language can now be set through the settings page (or before created).

String suggestions now will only show strings in projects with the same target language (and there's an internal mechanics for game relations, I've explained it in Paratranz Blog).

Additionally, search with regexp and match whole word feature has been added a

[2019-02-01 11:32] Test-of-gource commented on #3
Problem of Suggesting of translation

In spite of the fact that ["Pons_Pons" (#LIST#|latin|occitan|male_names|Pons_Pons) in common/cultures/00_cultures.txt](https://paratranz.cn/projects/91/strings?file=14166&anchor=5750328) has been translated, the translation won't be suggested in ["Pons" (127042#|name) in history/characters/occitan.txt](https://paratranz.cn/projects/91/strings?file=14107&anchor

[2019-02-17 21:46] inarizushi0309 commented on #3
原文の頭文字が小文字から大文字に更新された際、原文の変更と判定されず、訳文の変更として処理されてしまい、結果、日本語訳が消え、原文が訳として反映され、翻訳済みとして更新処理が行われてしまう。
![image](https://user-images.githubusercontent.com/37979626/52919754-03269480-3349-11e9-8238-794665bde9e2.png)

[2019-02-18 06:15] inarizushi0309 commented on #3
When the initial letter of the original sentence is updated from lowercase to uppercase, paratranz treats it as a change of the translated sentence, not as a change of the original sentence. As a result, the Japanese translation disappears, the original sentence is reflected as a translation, and the update processing is performed as translated.

[2019-02-18 06:48] bruceCzK commented on #3
@inarizushi0309 Actually you have uploaded the English file as TRANSLATION, and the system will update those strings without an edit or being marked as untranslated. So it's an expected behavior.

Please double check the operation before upload a file.
And you can follow the steps below to see the file you have uploaded.

![qq20190218-144544](https://user-images.githubusercontent.com/8399711/52932

[2019-02-18 06:56] bruceCzK commented on #3
And for the UI incompletion, I'm working on a new page for translating the website itself. Sorry for the inconvenience now.

[2019-02-18 07:11] matanki-saito opened #4 "Add cc license"
MODにCCライセンスのリンク貼る

[2019-02-18 10:09] matanki-saito commented on #4
完了

[2019-02-18 10:09] #4 closed

[2019-02-18 16:52] inarizushi0309 commented on #3
Thank you for quick response. I confirmed that it was my mistake. I apologize for the inconvenience.

[2019-02-19 05:36] matanki-saito commented on #3
@bruceCzK
Hi, we have some questions about Batch Import Translation feature.
We used it to replace specific characters, however it failed.

For example, we want to erase ordinal numbers (#0) from monarch files all at once.
We can do it on a local PC, but can't upload them to ParaTranz.

There're some issues;
- Batch Import Translation said update wasn't required.
- Force Import Translation was suc

[2019-02-19 08:34] bruceCzK commented on #3
A new 'Batch Import Translation Forced' feature is added. You can find the entry in the dropdown menu. And before selecting files, you'll have to input 'FORCE' in the prompt(which the UI is still untranslated, so I think it needs to be mentioned).
I think it'll do.

[2019-02-20 16:17] matanki-saito commented on #3
Thank you for your response.

There are some notices about EU4.
 - I made an [installer](https://github.com/matanki-saito/SimpleInstaller) for DLL.
 - I implemented the name reversal function. please see EU4dll [readme](https://github.com/matanki-saito/EU4dll/tree/develop).
 - I made an [error message](https://github.com/matanki-saito/EU4dll/blob/dee0f259fb0ecfb85e6e515f8be6582698ecfb34/Plugin/dll

[2019-02-21 05:18] oooFUNooo commented on #3
We tried the new 'Batch Import Translation Forced' feature, but it failed again.
This is a screen shot at that time.

![ss1](https://user-images.githubusercontent.com/42687608/53144884-66325880-35e1-11e9-9f8f-8452823cb1ec.png)

'Force Import Translation' works perfectly.
And strangely, 'Batch Import Translation Forced' works for the file which has been imported by
'Force Import Translation' before

[2019-02-21 06:21] Test-of-gource commented on #3
I cannot edit my replies on "議論" threads: https://paratranz.cn/projects/91/issues
Is this bug?

[2019-02-21 06:32] bruceCzK commented on #3
@oooFUNooo The message says the file is uploaded, but because of there's no string is different, the file was not updated.
It's an expected result.

I think this confuses you because the record is not created as the update process does, it's my mistake, the import process behaves a little different than the update process.

Let me explain the process. When a file is uploaded, the code will check i

[2019-02-21 06:37] bruceCzK commented on #3
@Test-of-gource Yes. I was optimizing the UI framework before and the card component was collapsed. Fixed. Please refresh the page.

[2019-02-21 08:28] oooFUNooo commented on #3
Thank you for your quick reply.
I read your discriptions carefully, but there is something wrong, I think.

I tried to use 'Batch Import Translation Forced' feature to import _different_ translations.
The translations in ParaTranz remain old even if there're oblivious differences.

The actual files are following;
[GBR - Great Britain.1.txt](https://github.com/matanki-saito/EU4JPModAppendix/files/2

[2019-02-21 09:39] bruceCzK commented on #3
😂 This is awkward. Checked my code, and there's an `true` being `false`.
Fixed. Please refresh page and try again.

[2019-02-21 09:43] bruceCzK commented on #3
😂 This is awkward. Checked my code, and there's a `true` being wrote as `false`.
Fixed. Please try again.

[2019-02-21 10:20] oooFUNooo commented on #3
It works! Thanks so much.
I'm a programmer. So I can understand your mistake is very common. ;)

[2019-02-24 08:05] matanki-saito commented on #3
Hi, I have a request.
I want to download translated packed zip file from my application.
![image](https://user-images.githubusercontent.com/35730970/53296727-dcd78c00-3855-11e9-9122-4075b56d6d6c.png)

For example, I am glad that I can do the following.
[code]
Thanks

[2019-02-27 08:17] bruceCzK commented on #3
@matanki-saito Done. You'll find a small key icon now in your user Profile page.

Click it to get your personal token, you can re-generate token in the modal.

Also along it an example is included.

I think it'll suffice your demand.

![qq20190227-161630](https://user-images.githubusercontent.com/8399711/53475517-10f7ba80-3aab-11e9-93cf-6786f4334213.png)

[2019-02-27 10:20] matanki-saito commented on #3
Good Job (,,ﾟДﾟ) b
Very Thank you !

[2019-03-06 08:52] Test-of-gource commented on #3
Is it ok to use Paratranz for translation of **War in the East**?

[2019-03-06 09:27] bruceCzK commented on #3
@Test-of-gource Yes, you can find a sample csv in create project page. It is a standard format csv, if you transform the game strings to format like that, it can be imported, as well as other games.
In addition, could you upload a sample of the game text here, so I can see if it is easy to implement processor for such text format.

For the sample csv, you can also download it here: https://static.

[2019-03-06 09:30] Test-of-gource commented on #3
Thanks
[translation.zip](https://github.com/matanki-saito/EU4JPModAppendix/files/2935428/translation.zip)
Here is

[2019-03-06 11:17] bruceCzK commented on #3
I see. The file is already a standard csv, I recommend you using excel to make some changes then upload to paratranz. Just keep the ID, English Key and Translated text columns then it's the same format with the sample.

[2019-03-08 09:35] oooFUNooo commented on #3
Hi, I created a new ambitious project to support an existing project.
I agreed with the CC BY-NC 4.0 licence, however new one has no licence and supplies no suggestion.
I tried twice, but failed. I confirmed the checkbox for the licence was checked.
The project is [ETJP Automatic Translation](https://paratranz.cn/projects/253).
Would you tell me what's wrong?

[2019-03-08 10:02] bruceCzK commented on #3
Sorry it's a bug. License parameter had not saved to database before. Fixed. All exisiting projects are reset to CC BY-NC 4.0.

[2019-03-08 10:05] oooFUNooo commented on #3
Thanks so much for your quick response!!

[2019-03-08 11:36] oooFUNooo commented on #3
Sorry, may I ask another question?
I imported translations to a new project an hour ago after the bug was fixed, but I can't see them in another project now.
How long does it take for them to appear as suggestions generally?
Or is it another bug?
The imported project is [ETJP Automatic Transalation](https://paratranz.cn/projects/253). (same as the above)
I can't see suggestions in the project [Ext

[2019-03-08 11:43] bruceCzK commented on #3
The suggestions update in two conditions:
1. when a string is edited
2. 0:00 on every day

So if you only imported translations, they will not be synced until 0:00. But it is possible to recover your removed project if you like so. Do you need to recover the old project?

[2019-03-08 11:47] oooFUNooo commented on #3
Thanks for your reply and generous offer.
I've reconstructed another new project, so you don't have to recover old one.
I will wait until 0:00. Thanks again.

[2019-03-22 12:29] oooFUNooo commented on #3
Hi, we have another issue.
On EU4, some `/common/countries/*.txt` files, such as Japanese Daimyos', have a lot of leaders with the same name. However, ParaTranz creates the only one entry for them.
I think ParaTranz connects the names of a leader and a file to create its key.

Example: [`/common/countries/Oda.txt`](https://paratranz.cn/projects/76/strings?id=5293493)

We want to import such files.

[2019-03-22 12:46] bruceCzK commented on #3
All the same text in list will be unified as one key, during the export process, all other text will be replaced as well. So you do not need to worry about this.

As for the import issue, it does not related to this, it's because I use the actual text in the key to avoid the index misplace issue.

For example, keys like `#LIST#|leader_names|Oda` was previous parsed as `#LIST#|leader_names|32`, `32

[2019-03-22 12:52] oooFUNooo commented on #3
I see. Thanks for your quick response.
I understand the json file import feature isn't implemented now. Is it correct?
I respect your effort. Thanks so much.

[2019-03-22 12:53] bruceCzK commented on #3
Yes. It's not done yet. I'll inform you after it's online.

[2019-04-05 13:34] bruceCzK commented on #3
@oooFUNooo Sorry for keep you waiting. The new feature is online, you'll be able to upload json files in both import and update operations. The json file format could either be
[code]
or
[code]
However for the create operation, json format is restricted to projects with game type of `Others`, please be aware.

[2019-04-05 13:42] oooFUNooo commented on #3
Thanks a lot.
Though we have already imported them with manpower, we will use the new method next time, maybe at the next version up.

[2019-04-05 13:43] bruceCzK commented on #3
@Test-of-gource And these two issues have been solved. Please let me know if there's any bug, I wasn't test throughly.

[2019-04-07 04:35] Test-of-gource commented on #3
@bruceCzK The first problem hasn't fixed at all.
![2019-04-07 13 25 15 paratranz cn ccb2a20fc771](https://user-images.githubusercontent.com/31516191/55678734-8d4aac80-5939-11e9-889d-7f770014ca0a.png)
 ["Pons_Pons" (#LIST#|latin|occitan|male_names|Pons_Pons) in common/cultures/00_cultures.txt](https://paratranz.cn/projects/91/strings?file=14166&anchor=5750328) doesn't be suggested

[2019-04-07 04:37] bruceCzK commented on #3
Oh, you mean the backward. I'll look into it.

[2019-04-22 12:46] oooFUNooo commented on #3
Hi,
Do you know this ambitious site?
[Skanderbeg](https://skanderbeg.pm)
This site can create and share maps from uploaded EU4 save data like this.
[My save data](http://skanderbeg.pm/displaymap.php?id=6da502&mapmode=political&zoom=-1.5&lat=-1023.8906191581208&lng=3320.573444452027)

Now the site's developer, matanki-saito and I are trying to apply it to Japanese.
We need a source code to decode e

[2019-04-22 12:51] matanki-saito commented on #3
hogehoge

[2019-04-22 12:59] bruceCzK commented on #3
Here's the decode function. Forgot to publish the code before.
https://gist.github.com/bruceCzK/5e1139a35b39126c4d8455e2148667c8

[2019-04-22 13:01] oooFUNooo commented on #3
Thanks a lot!
matanki-saito says if we succeed, this site can handle not only Japanese but also Chinese/Korean.

[2019-04-22 13:15] bruceCzK commented on #3
This site is a great work! Looking forward to see the furture progress. I'll share it with my friends.

PS: it took me about 30s to load the page, maybe put the site on CDN？

[2019-04-22 13:22] oooFUNooo commented on #3
I told him your words and also this page.

[2019-04-24 09:25] matanki-saito commented on #3
Hi @bruceCzK
We are planning to translate Imperator: Rome into Japanese.
Can we use paratranz for this project ?
thx.

[2019-04-24 09:51] bruceCzK commented on #3
Sure. I've add a new game type to the create page.

[2019-04-24 10:04] matanki-saito commented on #3
Thank you for your great work.

[2019-04-25 19:28] matanki-saito commented on #3
Hi @bruceCzK
I tried to create a project and import loca files. This worked well.
https://paratranz.cn/projects/335

But there was one problem.
The text of the downloaded yml file was "l_simp_chinese" instead of "l_english".
![image](https://user-images.githubusercontent.com/35730970/56762528-0a4fa000-67db-11e9-9089-2a18654bd6cf.png)

Please confirm. thx.

[2019-04-26 01:16] bruceCzK commented on #3
Ah yes. Since the official Chinese translation is made by our team, I've added it before for our own convenience. I'll change it back.

[2019-04-28 13:14] bruceCzK commented on #3
@oooFUNooo Hi. I see you guys have uploaded the Imperator: Rome language mod. I noticed your mod has cover image with it. Could you share the config method with us? Our team tried serveral methods and still the cover doesn't show up.

[2019-04-28 13:18] oooFUNooo commented on #3
Please refer to [this method](https://steamcommunity.com/sharedfiles/filedetails/?id=1724263569).
It may be written by one of Paradox developers.

[2019-04-28 13:21] bruceCzK commented on #3
Thanks for the quick response.
Man, this is complicated, I guess I'll pass it until the fix arrives loll.

[2019-05-26 17:02] matanki-saito commented on #3
@bruceCzK
Hi,
Our translation team discusses in not only ParaTranz but also Discord ( https://discord.gg/hvttzbM ) .
However, some members in Discord sometimes forget their discussions in ParaTranz.
So would you plaese imprement a notification feature (Webhooks) ?

We want 3 kinds of condition for notifications;
- when a discussion is created
- when a reply is posted
- after a month since a discus

[2019-05-27 01:04] bruceCzK commented on #3
OK. I'll look into it.

[2019-05-27 04:19] matanki-saito commented on #3
😂👍

[2019-05-27 11:03] bruceCzK commented on #3
I've added a new modal in the project setting page. You can paste your discord webhook url in it.

Currently it only send message in these 3 conditions:

- when a discussion is created
- when a discussion is replied
- when a discussion is closed

Messages are like below:

![image](https://user-images.githubusercontent.com/8399711/58415703-e8835a80-80b1-11e9-8dc7-a11e3f560a83.png)

I've plan to add

[2019-05-28 01:00] matanki-saito commented on #3
I tried it on my own project.
 - CK2_JPM_PROJECT: https://paratranz.cn/projects/91

In the project settings, I have setted the URL of Discord.
 - https://discordapp.com/api/webhooks/582526043487862785/NjH65W7mFBxVnG_D56EfEse4Ac0E_bZB7dBXb2cZmMc0wL1C_ByKzXKvG8leEnPBnV2N

Then I tried the following.
 - Create discussion
 - Reply discussion

But the notification did not come...
Do I need to put "/git

[2019-05-28 01:36] bruceCzK commented on #3
Oh sorry, I forgot to config an environment variable. Fixed.

[2019-05-28 01:43] matanki-saito commented on #3
Oh Notification came!
Thank you.
![image](https://user-images.githubusercontent.com/35730970/58444914-3d1be980-8135-11e9-9822-417f908d8f42.png)

[2019-05-28 17:46] clamm0363 commented on #3
Hi, @bruceCzK
Can I use "NOT search" on Paratranz? If it exists how to use that, please tell me the way to do that.
Else, I want to be implemented the "NOT search" function.
thanks.

[2019-05-29 09:42] bruceCzK commented on #3
Sorry. There's no such feature by now. I'll add an advanced search feature once I'm free from my work, it's been a little busy lately.

[2019-05-29 09:47] clamm0363 commented on #3
Ok, thanks. I thank you that I found it impossible for now, and I hope it would be implemented someday.

[2019-06-01 03:57] bruceCzK commented on #3
The 'advanced search' feature is implemented. It just have some basic function now with only text filter, but I will add more filters like file, stage, user etc. So please have a try and let me know if there's any issue.

![image](https://user-images.githubusercontent.com/8399711/58743462-36a6ae00-8464-11e9-96b1-05b17d6a8e63.png)
![image](https://user-images.githubusercontent.com/8399711/58743463-

[2019-06-04 02:54] matanki-saito commented on #3
@bruceCzK
Hi, Thank you for the new feature !
I found some issues with other features.
 - Discord not receiving notification of discussion.
 - Some closed discussions are not visible from the list. for example,
    - https://paratranz.cn/projects/91/issues/875
    - https://paratranz.cn/projects/91/issues?status=1

thx

[2019-06-04 17:05] bruceCzK commented on #3
These two issues have been solved.

[2019-06-05 03:41] matanki-saito commented on #3
Thank you !

[2019-06-12 20:31] clamm0363 commented on #3
Hi @bruceCzK,
There may be an issue that some of project members including me has been displayed as a default avator.
I tried to re-upload my avator but it doesn't work.
EDIT:It's been fixed now. Thanks!

BTW, advanced search is amazing! Thnaks!

[2019-06-13 12:36] bruceCzK commented on #3
What do you mean by 'default avatar'? Is it the anonymous avatar? Can you upload a screenshot of the network tab of chrome devtool?

Just hit F12 to open the chrome devtool, switch to network tab and refresh to see the load status, remember to check 'Disable cache'

I'm seeing OK from my network, maybe it's the CDN problem.

![TIM截图20190613202840](https://user-images.githubusercontent.com/8399711/

[2019-06-13 12:52] clamm0363 commented on #3
![8a7bd6e3a862f36fb988a34216ee762d](https://user-images.githubusercontent.com/29382778/59433388-5eaeed80-8e24-11e9-9de3-368ffddf13af.png)
My avatar had fixed since daytime today, but I don't make sure the exact time.
I used the word "dafault avatar" to mean "anonymous avatar" that is white and has no face.
I'm sorry to failed to explain situation precisely.

[2019-06-13 12:54] bruceCzK commented on #3
Got it. I'll continue to follow this CDN issue.

[2019-06-13 12:58] clamm0363 commented on #3
Thanks a lot.

[2019-06-15 04:34] pt-1995111028 commented on #3
Hi, @bruceCzK
'Advanced Filter' feature seems to have some issue with URI encoding: it doesn't escape some characters, such as '+', '&', and '='.

With this issue
- Regular expression contains '+' is not processed properly, unless converting it to '%2B' manually.
- Other query parameter can be specified by typing specific text in advanced search query.
e. g. input "holy fury&stage=1", then I got e

[2019-06-15 08:53] bruceCzK commented on #3
The encoding issue is fixed.

And I've also added three more features to Adavanced Filter:
- Filter by stage of string
- Filter by translators
- FIlter by reviewers

Note that the latter two are just prototypes now, they are likely to be rewrite with a better UI in the future, but I think it'll suffice for now.

And all the conditions are joined by 'AND' operator, so if you want to perform an OR s

[2019-06-15 09:11] pt-1995111028 commented on #3
Great work!

Thanks a lot for fixing and adding new feature!

[2019-06-16 05:25] oooFUNooo commented on #3
Hi, I don't understand how to use new filters. Would you tell me some explanations, please?

- Where can I get UIDs (Unique IDs)? Are they numbers or strings?
- I couldn't filter by translators without you. Do I have to wait for a while? Or something else?
[search query example](https://paratranz.cn/projects/76/strings?advanced=1&translateBy=1)

[2019-06-16 05:53] bruceCzK commented on #3
UID represents User ID, it can be found in URL of someone's profile, for example, 'https://paratranz.cn/users/1430/profile', the uid is 1430.

And the 'filter by translators' has no ability to perform a 'without' search, as its bad performance and will slows down the whole datebase. Maybe I'll implement this with another way in the future.

You can use the old filter `&uid=-{uid}` (with a minus ah

[2019-06-16 06:02] oooFUNooo commented on #3
Thanks for your reply. I understood how to get UIDs.
And I'm sorry I used wrong word. I really told you that I couldn't filter by translators _except_ you.
I wanted to say I could filter by you (UID=1) only. I can filter by any translators now.
Do you plan to add filter by editors?

[2019-06-16 06:05] bruceCzK commented on #3
Yes. It's in the plan. This whole 'filter by user' feature is very likely to be rewritten in the future, I'm not very satisfied with it now, but like I said before, it works now 😅.

[2019-06-16 06:08] oooFUNooo commented on #3
I see. I'm looking forward to the feature. Thanks.

[2019-06-17 09:34] inarizushi0309 commented on #3
Hi, @bruceCzK
As for "Translation Suggestions", the sentences that were updated yesterday are not displayed, the previous sentences are displayed, and only a part is displayed instead of the full text. Is something wrong with me in settings?
![1](https://user-images.githubusercontent.com/37979626/59594285-848f0780-912e-11e9-9305-9cabcfc5cda8.png)
![2](https://user-images.githubusercontent.com/3797

[2019-06-17 12:59] bruceCzK commented on #3
The suggestion feature is based on elasticsearch, yet the syncing part is not very robust now. Sometimes it fails when there's too much requests.

I've manually updated your projects. I'll pick some time to rewrite the syncing part.

[2019-06-17 13:06] inarizushi0309 commented on #3
Thank you for your response!
 Speaking of greed, it would be nice if there could be a feature that can be updated here when needed

[2019-06-17 13:09] bruceCzK commented on #3
What do you mean by 'updated here'? A changelog?

[2019-06-17 13:10] inarizushi0309 commented on #3
About matching "Translation Suggestions" and the latest translation data

[2019-06-17 13:12] bruceCzK commented on #3
You mean there's a button, and click it then the data synced?

[2019-06-17 13:15] inarizushi0309 commented on #3
Yes.There is no problem if it updates automatically, but I want it to avoid bothering you when something like this happens again

[2019-06-17 13:22] bruceCzK commented on #3
It make sense. I'll consider add such feature. But first I'll make sure the syncing operates right.

[2019-06-20 04:54] bruceCzK commented on #3
The 'exclude user' feature has been added.
You can filter out user by put a minus sign before uid, like below. Further UI improvement is on the way.

![image](https://user-images.githubusercontent.com/8399711/59819423-5db51900-935a-11e9-8e4b-bffa86b2dc01.png)

[2019-06-22 16:48] inarizushi0309 commented on #3
Hi, @bruceCzK
If you use the current lock function, it will be treated as blank in the game, so I would like to have a new lock function that displays the translated text as it is.

[2019-06-24 12:05] clamm0363 commented on #3
HI, @bruceCzK
Now I have a problem that I have reported 12 days ago.
Here is the screenshot.
![d9abee2961ca68e19476ca751c915509](https://user-images.githubusercontent.com/29382778/60017403-9d199780-96c3-11e9-80ba-21570720ad72.png)

[2019-06-24 12:09] clamm0363 commented on #3
And there are some errors occurred.
![35ee2e17c44b75ba4f40c2e81a17957f](https://user-images.githubusercontent.com/29382778/60017689-5b3d2100-96c4-11e9-87a9-c62f046874f8.png)

[2019-06-24 12:40] bruceCzK commented on #3
@clamm0363 Can you take a screenshot of the error details? Click the 403 item and switch to preview tab.

[2019-06-24 12:45] clamm0363 commented on #3
Here the screenshot.
![379678377a5229d014a31986623374e9](https://user-images.githubusercontent.com/29382778/60019593-326b5a80-96c9-11e9-9993-507855ca0d26.png)

[2019-06-24 12:49] bruceCzK commented on #3
Hmmmm. This is not suppose to happen. I've changed the settings. Is it working now?

------------------ 原始邮件 ------------------
发件人: "Clamm0363"<notifications@github.com>;
发送时间: 2019年6月24日(星期一) 晚上8:45
收件人: "matanki-saito/EU4JPModAppendixI"<EU4JPModAppendixI@noreply.github.com>;
抄送: "机智的布鲁斯"<bruceczk@foxmail.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [matanki-saito/EU4JPModAppendixI] Parat

[2019-06-24 12:49] clamm0363 commented on #3
Yes, Avator fixed!

[2019-06-24 12:55] bruceCzK commented on #3
The current lock function works the exact as you wanted. I assume you are confusing with the `Hide` and `Lock` functions?

If you HIDE a string, the translation will be forcely reset to be equal with the original text. But if a string is LOCKED, it uses whatever you put in the translation.

So I guess you locked an untranslated string? If so you have to translate it first then lock it.

[2019-06-24 15:57] inarizushi0309 commented on #3
Because the sentence in the game was treated as a blank by locking the translation with a blank, it was misunderstood that it would be the same even if it was locked with a translation. I'm sorry.

[2019-08-20 13:04] bruceCzK commented on #3
Hi all. I want to inform you that I'll be progressively remove the Japanese language from ParaTranz (keep only Simpifiled Chinese and English).

Here's the thing I want to explain to you guys.

The ParaTranz project is now using `vue-i18n` for multi-language support, it repuires an external file for all text presents in the UI, so in the current process, I have to write down the intitial text, the

[2019-08-20 15:28] matanki-saito commented on #3
Thank you for telling me!
It 's sad to lose multi language support...

But I think there is no problem because most Japanese users are translators!
And Paratranz is so innovative and free to use that it is well received by many Japanese game translators.
We won’t be able to go back in time.

Thanks so much for always helping me!

[2019-08-27 18:23] matanki-saito commented on #3
Hello, DevDiary for EU4-1.29 has been published.
 https://forum.paradoxplaza.com/forum/index.php?threads/eu4-development-diary-27th-of-august-2019.1235540/&utm_source=twitter-owned&utm_medium=social-owned&utm_content=post&utm_campaign=eu_eu_20190827_for_dd

EU4 become 64bit from version 1.29.
Multibyte DLL will not work properly because it is 32bit.

I will challenge 64bit but it is unclear if it

[2019-08-28 03:57] bruceCzK commented on #3
Acknowledged. Thanks for the information.

[2019-10-30 04:31] oooFUNooo commented on #3
Hi.
We found out a kind of serious license problem about ParaTranz.
Could you tell us any solutions, please?

Fact A. Paradox prohibits user mods from including any kind of license or claim of copyright.

See the rule 4: [Paradox Forum](https://forum.paradoxplaza.com/forum/index.php?threads/updated-14-06-18-rules-for-user-made-mods-and-edits-of-pds-games.708039/)

Fact B. We can't select any kind

[2019-10-30 05:33] bruceCzK commented on #3
In my original thought, the CC license is applied for the text only, this means anyone can use the text but the text only as they like, for the mod itself, it follows the original license the creators chose.

And I've read the forum thread, it says 'user may not be include any license', so maybe I should provide a 'No License' option? What do you think.

[2019-10-30 14:41] oooFUNooo commented on #3
Thanks for your reply.

We understand your thoughts are:
1. The CC license is applied for the text only.
2. For the mod itself, it follows the original license the creators chose.

If so, we don't have to display any license but credit for the text with our mods.
Maybe we have no problem now.

There are few members who really understand CC license in our team.
So we can't conclude it's a correct i

[2019-10-31 02:34] bruceCzK commented on #3
Yes. The key point is text and mods are sperated, they can use different licenses. Even though Paradox speicify rules for mods, the rules does not apply to the text. The CC license protects the credit of our translators, so I think it's better to keep them.

[2019-11-01 13:07] oooFUNooo commented on #3
We understood. Thanks so much.

[2019-11-04 03:32] inarizushi0309 commented on #3
Hi. There is a problem with the newly implemented text display function.  The new display function makes it easier to check where the line break has occurred, but if you edit it, the line break symbol (\n) that existed before will disappear and the data will be corrupted.  Please confirm.
ex) https://paratranz.cn/projects/76/strings?id=4180830

[2019-11-04 03:36] oooFUNooo commented on #3
In addition to the above issue, can you fix already corrupted data automatically?

[2019-11-04 05:53] bruceCzK commented on #3
I've fixed this feature and manually replaced all the line breaks. Sorry for the inconvenience.

[2019-11-04 05:57] inarizushi0309 commented on #3
Thank you for your quick response and manual correction.  Thanks to you, we can play games in Japanese.

[2019-11-04 06:09] inarizushi0309 commented on #3
I tried to see if there was a line break, but the sign remained safe.  However, it was recognized that the line break was changed even though I just edited the brackets.

[2019-11-04 06:10] inarizushi0309 commented on #3
![Uploading 1FE12C1D-B80F-42E9-925E-3630C0AA4167.png…]()

[2019-11-04 06:10] inarizushi0309 commented on #3
![4F9D55E2-4BC3-4E20-8153-C91567B8F7BB](https://user-images.githubusercontent.com/37979626/68102272-447dc500-ff15-11e9-9614-2a4c51ac586c.png)

[2019-11-04 06:33] bruceCzK commented on #3
You are using the word diff mode, it's a little buggy right now. In character mode it's fine.

![image](https://user-images.githubusercontent.com/8399711/68102955-e3072780-ff0f-11e9-87ab-642cd8f57c02.png)

You can switch mode by clicking the 'W' right after your nickname.

[2019-11-09 04:18] oooFUNooo commented on #3
Hi,
I have a proposal to improve ParaTranz's versatility. If you're interested in it, please consider to imprement it.

There is an international standard for the exchange of translation memory data between computer-aided translation and localization tools. It is called TMX (Translation Memory eXchange) format.

[Translation Memory eXchange (Wikipedia)](https://en.wikipedia.org/wiki/Translation_Me

[2019-11-11 02:33] bruceCzK commented on #3
Actually this feature is already implented, and our team has been used it for a while. I'll add a switch to project settings page later today.

Be aware the tmx will be MemoQ format, I don't know if it's the standard format. Here's an example.

[code]

[2019-11-11 02:58] oooFUNooo commented on #3
Thanks a lot and that sounds cool.
I know some of Japanese fan translators hesitate to use ParaTranz, because they have already had lots of TMX data. However, they can use your marvelous service now.

[2019-11-11 12:10] bruceCzK commented on #3
I've added the switch, it's called 'Export TMX'. As for the import side, it's a bit more difficult, I'll finish it later this week.

[2019-11-11 12:28] oooFUNooo commented on #3
Thanks.
I tried it, but I couldn't find any TMX files in the downloaded archive.
I turned on 'Export TMX' switch and re-generate archive file.
Do I have something else to do?

I tested the new feature in [this project](https://paratranz.cn/projects/308).

[2019-11-11 12:30] bruceCzK commented on #3
Oh sorry, I forgot to deploy. It's OK now.

[2019-11-11 12:34] oooFUNooo commented on #3
I confirmed it.
Thank you for your quick response!

[2019-11-13 01:07] inarizushi0309 commented on #3
Hi.
Current problems
1. Variables in the source text are unusually long.
![10074F4C-960B-4713-9436-4783321CEBC1](https://user-images.githubusercontent.com/37979626/68723712-baacb680-05fc-11ea-9df2-3507df2264fe.png)

2. Even if the same entry is edited in a batch, the "Save" button remains.
3. When the batch edit is performed, text is displayed in "suggestions" is not updated

[2019-11-13 09:05] bruceCzK commented on #3
All fixed.

And for the latter two issues, I've implented a new method of syncing suggestions, the new method will be more 'realtime' and accurate.

[2019-11-13 12:04] inarizushi0309 commented on #3
Thank you for your quick response.  I was able to confirm here that the bug of the batch editing has been fixed.  I really appreciate it!

[2019-11-14 04:30] inarizushi0309 commented on #3
Sorry for requesting many times. The PC version can work comfortably without problems, but the smartphone (Safari) does not seem to reflect the translation in suggestions.

[2019-11-14 05:09] bruceCzK commented on #3
Sorry. I don't get it. 😂
What do you mean by 'reflect the translation in suggestions'?
It's the same UI code for both mobile and PC.

[2019-11-14 05:27] inarizushi0309 commented on #3
There is no example and I am sorry for the difficult-to-understand expression.
![2F9F7239-3E4F-4B6B-8196-4FEEFB189210](https://user-images.githubusercontent.com/37979626/68828863-6d0e7780-06ea-11ea-9996-659b4c35fa4c.png)
I registered the same entry but it doesn't appear in suggestions. (Similarly, this entry is not displayed in the other entry.)
![45C1C695-9ABD-4069-95B3-2D70E8D8B99C](https://user

[2019-11-14 06:49] bruceCzK commented on #3
Some old data didn't sync properly. The first one was beacuse this strings were marked as hidden. I've tweaked my sync function to avoid the problem. So hope everything's fixed now.

[2019-11-25 03:32] oooFUNooo commented on #3
Hi,
How about Inport TMX feature?
I don't want to hurry you, but please tell me the plan if you implement it in the near future.
Thanks.

[2019-11-25 03:42] bruceCzK commented on #3
It's already half-finished. But the tags are difficult to process as the structure can be quite complex. I'm still trying to do the tag-parsing part. You can test the feature now, but it'll probably be buggy. So let me know if there's any issue.

Select '[Other]' in game type, and you'll be able to upload TMX files.

![image](https://user-images.githubusercontent.com/8399711/69510524-51239500-0f78

[2019-11-25 03:49] oooFUNooo commented on #3
I'm so glad to hear that.
I'll try it a little later, because there are some troubles in GitHub now at least from Japan.

[2019-11-25 10:27] oooFUNooo commented on #3
I tested the new TMX Import feature, but it didn't work very well as you have said.
I could import TMX files correctly, however the translations haven't been imported.
There was no error. It looked good except importing failure.
My test project is [here](https://paratranz.cn/projects/726).

[2019-11-25 11:33] bruceCzK commented on #3
It's not meant to be like that. I've fixed this feature.
But to be notice, this behavior will be only appear in bilingual files (like tmx, json, csv which can include two languages in one file). With files like pdx yml, ssv, you'll have to perform an import translation operation after you add files.

[2019-11-25 11:44] bruceCzK commented on #3
Oh, one more thing to inform, the minimal TMX stucture is
[code]

Only the `key` (x-context), `source`(first tuv in tu) and `translation` fields are required.
And you can add one more `x-comment` prop, like `<prop type="x-comment">context for string</prop>`, it will transform to context field in strings.

[2019-11-25 12:16] oooFUNooo commented on #3
Thanks for your information.
We plan to import TMX files from other translation tools or platforms. If we can import TMXs for general keywords (e.g. Save, Load, Exit) or professional terms, our translation efficiency will be greatly improved.
By the way, can't we import TMXs into yml projects for suggestion?

[2019-11-25 14:58] bruceCzK commented on #3
You can change game type to other, import, then change back.

[2019-11-25 15:07] oooFUNooo commented on #3
Thanks a lot.

BTW, we have a completely different problem now.
[Our CK2 project](https://paratranz.cn/projects/91) has been broken.
Some files in the downloaded archive was swapped with EU4's ones.
For example, localisation/HolyFury.csv and localisation/JadeDragon.csv.
Please look into them when you have enough time.

[2019-11-25 15:39] bruceCzK commented on #3
Fixed.

[2019-11-25 15:47] oooFUNooo commented on #3
Thanks. I respect you.
Good night!

[2019-12-15 13:06] clamm0363 commented on #3
Hi @bruceCzK
I found that the searching window of "terms" page had been disappeared.
In current page, I cannot find whether a term has already been registered.
So I want you to implement a search window in a term page again if possible.
Thanks.

[2019-12-15 13:23] bruceCzK commented on #3
Done. And you can also search terms in Glossary tab in editor page.

![image](https://user-images.githubusercontent.com/8399711/70863265-17dfb300-1f81-11ea-8b8f-84d269ebcd67.png)

[2019-12-15 13:26] clamm0363 commented on #3
Thank you for your rapid response. And new feature looks quite useful!

[2019-12-15 13:31] bruceCzK commented on #3
😂 it's not a new feature, it is there since the first version. I just thought mention this might be helping you guys.

[2019-12-15 13:33] clamm0363 commented on #3
ah I'm sorry for that :( I'm going to use the feature after now.

[2019-12-15 13:52] oooFUNooo commented on #3
Hi, I love this Glossary/Terms feature. It's so useful.
If you have enough time to improve it, please support plural forms of nouns and/or conjugations of verbs. For example, the term Civilizations (plural) should be matched Civilization (singular) and Civilize/Civilized (verb).
I don't know whether it is feasible or not, but I think you can use free dictionaries to realize it.

[2019-12-15 13:56] bruceCzK commented on #3
This feature (with a little difference of yours) is in the plan for a while, just don't have enough time to finish it. I'll see if there's a chance to finish this next week.

[2019-12-15 14:02] oooFUNooo commented on #3
Thanks for your quick response. I'm glad to hear that. Don't work too hard. Please take care.

[2019-12-28 11:06] bruceCzK commented on #3
Hi. The new feature is done. You can add variants for terms now.

For example, add `artifacts` to term 'artifact'.
![image](https://user-images.githubusercontent.com/8399711/71542721-b1a55800-29a4-11ea-8a46-93ce61a02351.png)
Now this term will match both forms. And you can add as many variants as you like.
![image](https://user-images.githubusercontent.com/8399711/71542743-f6c98a00-29a4-11ea-9675-

[2019-12-28 11:36] oooFUNooo commented on #3
Thanks a lot. I understood we became able to use aliases for terms.

[2020-01-05 11:31] inarizushi0309 commented on #3
![62545F2E-4104-4BE8-999B-FE47A3A5692B](https://user-images.githubusercontent.com/37979626/71779517-48ec5a00-2ffa-11ea-82cc-87dc76d84313.jpeg)
This problem again

[2020-01-06 03:06] bruceCzK commented on #3
I've checked the log, it seemed you triggered the batch save function which uses another API.
I was missing this before. All fixed now.

[2020-01-06 05:39] inarizushi0309 commented on #3
Thank you for the early New Year. We look forward to working with you this year.

[2020-01-08 14:16] inarizushi0309 commented on #3
"Suggestions" seems to be down

[2020-01-08 15:00] bruceCzK commented on #3
What's the issue, it seems running ok. Sometimes the sync process will be delayed a few seconds, it's normal.

[2020-01-08 15:09] inarizushi0309 commented on #3
Sorry, even if I updated the page a while ago, it did not work well,

[2020-01-08 15:11] bruceCzK commented on #3
You mean it's not showing up?

[2020-01-08 15:12] inarizushi0309 commented on #3
No, the latest sentence was not reflected

[2020-01-08 15:15] bruceCzK commented on #3
Which string are you referring to, could you provide an id or a screenshot? Thanks.

[2020-01-08 15:29] inarizushi0309 commented on #3
![image](https://user-images.githubusercontent.com/37979626/71990562-f23f8400-3276-11ea-9b0e-0f2e8b0dc26c.png)
It's normal now, but it was this entry that didn't get updated

[2020-01-10 02:26] clamm0363 commented on #3
I found a issue that some entry starting with a tag like "#Y " can't be searched with plain text.
For example, I can't search with writing "Rome will be able to" to find a entry like "#Y Rome#! will be able to found a Colonia in a conquered Territory."

[2020-01-10 02:31] bruceCzK commented on #3
Yes. This is intended behavior, default search will match whole text. You can use Regular Expression search in the advanced search popup.

[2020-01-10 02:35] clamm0363 commented on #3
I see.
Still I can search that text to write without "Rome", so I'll make sure whether the entry starting with a tag.
Thanks!

[2020-02-15 18:52] matanki-saito commented on #3
I have completed .
https://github.com/matanki-saito/EU4dll/releases/tag/Build-20200215.2

[2020-02-16 06:31] bruceCzK commented on #3
Hooray. Thanks for the good work.

[2020-05-07 08:44] clamm0363 commented on #3
An error occurred when I updated files and I failed to upload.
Log said "Cannot read property 'where' of undefined".
Would you please check it out.

[2020-05-08 02:39] bruceCzK commented on #3
Sorry. Already fixed yesterday.

[2020-05-16 12:13] inarizushi0309 commented on #3
Paratranz's Search system is stopped.

[2020-05-16 15:20] bruceCzK commented on #3
It was caused by a wrong database select condition, already fixed.

[2020-05-23 09:42] inarizushi0309 commented on #3
Mod File didn't update from 2020/05/22 23:08:24.
So I can't download latest version.
Project number 500

[2020-05-23 10:01] bruceCzK commented on #3
Sorry. There's a bug ealier before. Already fixed.

[2020-06-04 21:39] clamm0363 commented on #3
Hi! @bruceCzK
Being asked to report, I report a issue on behalf of him.

---- I translated his report below ----

I am greatly appreciate that you are providing wonderful translation service.

# About ParaTranz's "Update" feature. #

## Situation ##
When I executed updating on ParaTranz, a number of data erased despite of updating with new data.

## How to reproductive the situation ##
1. Create a

[2020-06-05 08:15] bruceCzK commented on #3
Yes. The colon thing was meant to be work with the Paradox games, they put a colon and a number after the key text to represent the version of a string.

The system would truncate the suffix before comparing, the problem was it applied to all files instead of YML files only.

 I've fixed this problem, you can try it again. Let me know if there's any other issue.

[2020-06-05 09:04] synctam commented on #3
Thank you for your quick response.
I tried it again and it worked correctly.
https://i.imgur.com/d8kSLpe.jpg
I'm very happy, thank you very much.

[2020-06-18 14:52] oooFUNooo commented on #3
Hi, our team found a garbled EU4 file. The original file is /history/countries/PSS - Passau.txt and the imported file is [here](https://paratranz.cn/projects/76/files/123599/content). Please see the entry 1673.1.7. I found [the same file](https://paratranz.cn/projects/2/files/114143/content) in your project was garbled, too.

Could you fix the problem, please?

[2020-06-18 15:08] bruceCzK commented on #3
It seems Paradox has changed some files to UTF8 now, but I highly doubt it's an accident.

Take common/province_names/irish.txt for example, you'll find the first half is windows-1252, but the second half is UTF8, and most files are still windows1252. So I think it's better to keep the current encoding transform function.

Maybe they'll fix this in the next version and for now you can manually cha

[2020-06-18 15:16] oooFUNooo commented on #3
Thanks. I understood what had happened.

We maybe stop translating /common and /history files until the next version, or convert encording.

[2020-06-18 15:20] bruceCzK commented on #3
I think translated files for not effected, eu4dll only recognize windows1252, we've publish the whole language mod, and no related issue has been reported by now.

[2020-06-19 10:25] oooFUNooo commented on #3
I would like to inform you Paradox's weird design about variables for estates.

For example, [this entry](https://paratranz.cn/projects/76/strings?id=33559856) includes a variable `[Root.GetNobilityName]`. However, no text appears in the game.

![estate1](https://user-images.githubusercontent.com/42687608/85122712-f8904e00-b261-11ea-91ee-f1779922dc00.png)

![estate2](https://user-images.githubuser

[2020-06-19 10:29] bruceCzK commented on #3
Thank you very much for this information. We'll change these tags accordingly.

[2020-06-20 04:19] matanki-saito opened #6 "Invisible text"
見えないテキストがある。バグの可能性あり。
① $REASON$が表示されない

SELLSHIP_INDEBT:0
[code]

![20200619123319_1](https://user-images.githubusercontent.com/35730970/85198384-4a4cdd00-b323-11ea-9dd8-84d77b2183c9.jpg)

② 探検家の名前が表示されない

![20200614232121_1](https://user-images.githubusercontent.com/35730970/85198438-a9aaed00-b323-11ea-95c1-7964dbdf19f0.jpg)

③ 船舶を売ろうとしたら理由が表示されない
SENDGIFT_INDEBT:0
[code]

![eu4_33](https://user

[2020-06-20 16:15] matanki-saito commented on #6
②は現時点で不明。
①と③はテキストを変更する。（理由が現時点で不明なため）
参考）https://discordapp.com/channels/439564919072096276/441511956726284298/723903502673510451

[2020-06-21 16:27] #6 closed

[2020-08-21 12:42] inarizushi0309 commented on #3
Hi, bruceCzk.
Project500's history is stopping around 17o'clock.
I'm sorry, but I'd appreciate it if you could confirm this.

[2020-08-21 12:49] bruceCzK commented on #3
Sorry for the inconvenience. Fixed. I was upgrading the system before, forgot to restart the service.

[2020-09-01 17:36] matanki-saito commented on #3
Hi @bruceCzK
CK III has been released !
Can we have a CK III project on paratranz?
Thx!

[2020-09-03 07:20] bruceCzK commented on #3
Yes. It's done. And should I make a change of the localization file headers of your files? Chinese files uses 'l_simp_chinese:' instead of 'l_english:'.

[2020-09-03 20:11] matanki-saito commented on #3
I can create a CK III project on Paratranz!
 https://paratranz.cn/projects/1518

Thank you so much !

[2020-09-17 07:15] clamm0363 commented on #3
Hi! @bruceCzK
We apparently have encountered a bug which occurred when exporting from Paratranz.
CK3 file "government_custom_loc_l_english.yml" looks like properly imported into our project, but exported as non-translated states.
Could you find a same issue in other projects or already reported one?
We would be pleased if you check this.
Thanks

[2020-09-17 10:23] bruceCzK commented on #3
Yes. Sometimes this happens due to the history sync delay, you can perform a manual build by clicking the button right to the download button.
![image](https://user-images.githubusercontent.com/8399711/93458397-d49ce100-f912-11ea-9d96-297ab4016767.png)

[2020-09-17 10:49] clamm0363 commented on #3
Manual re-generating went well. Thanks a lot!

[2020-09-19 13:03] inarizushi0309 commented on #3
Hi, @bruceCzK
Project's History seems to have stopped again. This site seems to be becoming more and more famous, or it seems to be getting slower and slower to work.

[2020-09-19 13:21] bruceCzK commented on #3
Yes, the server load gets much heavier than before. I've changed the history query directly from database, which was queried from elasticsearch before. Maybe I'll take some time to do a database optimize next week.

[2020-09-19 14:14] inarizushi0309 commented on #3
Thank you for your patience. Thank you for publishing such a great tool for free!

[2020-10-03 08:44] inarizushi0309 commented on #3
Sorry about this often. I'm having problems with my project(No.500) again. It's not only on the home page, but it's also not showing up in my mod list.

[2020-10-03 11:09] bruceCzK commented on #3
It appeared that all projects with id of multiplies with 100 were not showing up before. Fixed by now.

[2020-10-12 17:09] inarizushi0309 commented on #3
Hi, @bruceCzK .
![image](https://user-images.githubusercontent.com/37979626/95773140-e185d800-0cf8-11eb-83c8-0ce3928a083a.png)
There is something wrong with the function of going to the admin screen by pressing the gear button next to the file in the translation screen.

[2020-10-13 05:42] bruceCzK commented on #3
Fixed.

[2020-10-23 06:30] inarizushi0309 commented on #3
Hi, @bruceCzK
Here are some things I've noticed about updating files.
1. When updating the translation, after dragging the file, a warning message appears, and then the file selection screen appears again.
2. As you can see in the screen below, the file is marked as updated even though no part of it has been updated. In addition, the counter of the number of updated files is not functioning.
![ima

[2020-11-01 16:21] inarizushi0309 commented on #3
Hi, @bruceCzK
Thanks for fixing some of the details!
I've been using it a lot for the good thing that it's free, and I'll tell you about some of the features I wish it had.
- Restore the ability to view entries marked with "Disputed"
- View only those entries that have been translated, but are no longer translated due to an update to the original
- The ability to check for over- or under-valued va

[2020-11-04 15:02] bruceCzK commented on #3
Sorry for the late reply. Duly noted. I'll make some time to adjust the pages.

[2020-11-30 09:23] inarizushi0309 commented on #3
Hi, @bruceCzK
Thanks for the ability to view entries marked with "Disputed"!

![image](https://user-images.githubusercontent.com/37979626/100591305-e4846880-3338-11eb-8b40-9e3909f43a4b.png)
Certain character searches show this kind of display glitch. Also, the download button doesn't seem to respond properly to Google Chrome, but I'm not the only one who is experiencing this problem.

[2020-11-30 10:13] bruceCzK commented on #3
Hi. May I ask what the search keywords are you using? And what do you mean by 'not respond properly'? I'm using the new Edge, doesn't seem to have any problem.

[2020-11-30 10:59] inarizushi0309 commented on #3
search keyword is
Modell in Source
M in Translation

'not respond properly'
This means that pressing the button does not do any downloading at all. If you right-click on the button and then click "Save Link As" you can download. This seems to be a problem that occurs when using the Google Chrome browser

[2020-11-30 11:42] bruceCzK commented on #3
First one fixed. Didn't reproduce the second one, did you use any extenstions? Try a incognito window (シークレット ウィンドウを) see if there's still have this problem?

[2020-11-30 12:03] oooFUNooo commented on #3
Hi, I reproduced the second issue with Google Chrome and its secret window feature. I've experienced it for a week. On the other hand, I found Safari had no problem. I think this issue is related with Chrome.

[2020-11-30 15:12] bruceCzK commented on #3
Found the problem! Chrome does not allow https links redirect to http ones, fixed.

[2020-12-01 00:47] oooFUNooo commented on #3
Thanks for your effort! I confirmed the fix.

[2020-12-02 05:21] inarizushi0309 commented on #3
Thank you for fixing the problem the other day!
I'm very sorry, but we had a new problem yesterday: the Suggestion function stopped at about 5:00am due to an error 500, but after it was restored, I couldn't press the "Translate" button immediately after pressing the copy button from Suggestion (if you enter something in the input field, the "Translate" button will work). (Also, this glitch seems t

[2020-12-02 09:08] bruceCzK commented on #3
Fixed. Also made some changes to the editor component, you can click a term to insert its translation down, just like the tags.

[2021-01-20 16:33] inarizushi0309 commented on #3
Hi, @bruceCzK .
Maybe it's because the server is down, I can't seem to update the data anymore.

[2021-01-21 02:42] bruceCzK commented on #3
Is the server still down? @inarizushi0309

[2021-01-21 04:14] inarizushi0309 commented on #3
It's been updated correctly. Was it my imagination?
When I tried to update the download data yesterday evening, the update did not complete even after 3000 seconds.

[2021-01-30 01:41] kuroko137 commented on #3
Hi, @bruceCzK!
I have a feature request for ParaTranz; Would it be possible to give the 'Import terms' feature the ability to update the content of all existing terms instead of just adding terms?

If a project's Terms are shared with another project, or edited from outside, it is currently not easy to match the content with it if there are a large number of terms.
Also, if it is difficult to crea

[2021-01-30 03:58] bruceCzK commented on #3
Yes. It could be done.

And if you want to delete all the terms, you can have this workaround for the time being, just change the page size to 800 (down right at the page), then select all and delete them.

I'm working on a major update, so this feature may be delayed for some time.

[2021-01-30 04:20] kuroko137 commented on #3
Thanks for the explanation! I hadn't noticed that I could change the "page size" in the page, which is good enough for my purposes.

Still, the feature to update the contents of Terms has been requested by other users as well, so I would be happy if you could implement it someday :D

[2021-02-05 05:35] inarizushi0309 commented on #3
Hi, @bruceCzK .
I imported an [English file](https://github.com/matanki-saito/EU4JPModAppendixI/files/5930344/_English.zip)(the original) because I knew that csv files were supported, and then tried to import a file that had already been [translated](https://github.com/matanki-saito/EU4JPModAppendixI/files/5930349/_Japanese.zip)(the translated text), but I got the message "The current file is the

[2021-02-05 05:49] bruceCzK commented on #3
The standard CSV file does not work that way. I see your files only contain two columns, that's not the correct format. There should be three columns instead of two - key, source text and target text. No matter what operation you are performing, the three columns are always needed.

Once you **upload** the csv file, both the original and translation will be imported at the same time, no need to do

[2021-02-05 05:50] inarizushi0309 commented on #3
I see. It was a mistake in our confirmation. My apologies.

[2021-02-21 07:28] inarizushi0309 commented on #3
Hi, @bruceCzK .
I'm not sure how long this has been happening, but some of the text(ex ottsab.33.d:0 in project 500) is not displayed correctly.
![image](https://user-images.githubusercontent.com/37979626/108618386-0a656900-7461-11eb-960c-3a23ef2d0060.png)
I checked the original file and it was displayed correctly, and when I tried to search for the part that was displayed incorrectly, I was able

[2021-02-22 06:02] bruceCzK commented on #3
All fixed. Thanks for the feedback.

[2021-03-05 08:48] inarizushi0309 commented on #3
Hi, @bruceCzK !
I'm here to say what features I'd like to see implemented again.
It's the "tag feature" on Github. It's very nice to see the translation rate for each folder, but it's also somewhat obscure. The reason is that if system-related data and files related to a particular country are in the same folder, the translation progress becomes unclear.
The current solution is for the administrat

[2021-03-05 08:58] bruceCzK commented on #3
Actually there's a Task feature which I think will match your requirement. Here's some screenshots.

![image](https://user-images.githubusercontent.com/8399711/110091798-d0d31d00-7dd3-11eb-9bd0-185f00ccc34e.png)
![image](https://user-images.githubusercontent.com/8399711/110091846-e0eafc80-7dd3-11eb-949d-29063f6e0da7.png)
![image](https://user-images.githubusercontent.com/8399711/110091479-71750d00

[2021-03-05 09:01] inarizushi0309 commented on #3
I'm looking forward to the implementation of the "task" feature!
You've made it really easy to translate. Thank you!

[2021-03-14 01:23] kuroko137 commented on #3
Hi, @bruceCzK!
It seems that the auto-correction of tags between "<>" symbols has been disabled since the beginning of March (Note that the auto-correction of tags between "{}" symbols is still active). If this is unexpected behavior, it would be helpful if you could fix it.

[2021-03-14 03:59] bruceCzK commented on #3
Fixed.

[2021-03-14 04:01] bruceCzK commented on #3
@inarizushi0309 And by the way, the 'task' feature seems to have a lot more changes to do than I thought, so this may be several weeks before its release.

[2021-03-14 06:20] inarizushi0309 commented on #3
Thanks for taking the time to contact me. Please let me know when you're ready to release it.

[2021-03-15 11:19] bruceCzK commented on #3
This update terms feature is done. Not got much time to test, you can try it now and if you find some bugs please don't be surprised. 😂
And by the way, this does not include the 'deleted' terms part for now, which means if your file has less terms than the ones in db, the system will not delete them for you. I'll add a switch to control this 'danger' operation in the future.
Let me if there's any

[2021-03-16 02:26] kuroko137 commented on #3
Thank you so much once again! You have been most helpful.

[2021-03-21 09:51] matanki-saito commented on #3
HI, @bruceCzK

Following file is not reflected in the exported zip file. It's still in English.
00_offmap_powers.txt : https://paratranz.cn/projects/91/strings?file=14167

Please help me 🙏

[2021-03-22 03:18] bruceCzK commented on #3
It's an old problem. Fixed.

[2021-03-22 06:18] matanki-saito commented on #3
Thank you !

[2021-03-27 14:42] inarizushi0309 commented on #3
HI, @bruceCzK
In the Trem function, the + button doesn't work properly when I try to add an analogy to a term that was registered before this update. Please check.

[2021-03-27 15:15] bruceCzK commented on #3
Yes, some old terms might not be able to add variants. Fixed by now.

[2021-03-27 16:03] inarizushi0309 commented on #3
Thank you!
I forgot that there were still some things I wanted to fix. Sorry about that.
![image](https://user-images.githubusercontent.com/37979626/112726493-190fd600-8f61-11eb-932c-1e136ed101bb.png)
Links are displayed as "{0}".

![image](https://user-images.githubusercontent.com/37979626/112726541-54120980-8f61-11eb-9835-9df6f9304616.png)
I don't know which project they participated in.

[2021-03-27 16:20] bruceCzK commented on #3
All fixed. Thanks for the feedback.

[2021-04-07 12:31] inarizushi0309 commented on #3
Hi, @bruceCzK !
Thanks for the minor correction.
There is a bug that when you specify three search conditions, the search results are not displayed. I thought it was just me, but other people had the same problem.

[2021-04-08 09:02] bruceCzK commented on #3
Yes. Confirmed and fixed. Thanks for the detailed feedback, made it very easy to locate the problem.

[2021-05-09 08:31] inarizushi0309 commented on #3
Hi, @bruceCzK !
Thanks for implementing the task feature! I'll try to use it right away.

[2021-05-09 08:49] bruceCzK commented on #3
You are welcome. After a second thought, maybe the file tag feature meet your demand much better, so I'll add that one as well.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "matanki-saito/EU4JPModAppendixI"

[2021-05-09 08:55] inarizushi0309 commented on #3
Are you sure?
I'm so happy!

By the way, I have a question about the task feature, but I don't know how to track it by strings.
![image](https://user-images.githubusercontent.com/37979626/117566064-6f8b3b00-b0ef-11eb-8ea5-119bdf439436.png)
Pressing the button takes me to the usual file management screen, but I don't know what to do there.
![image](https://user-images.githubusercontent.com/37979626

[2021-05-10 05:01] bruceCzK commented on #3
Ah, forgot to localize this part. There are two modes: F (for file) and S (for string).

In the file mode, only the file ids are added to the task, progress calculation will be based on the whole file.
While in the string mode, the specific string ids are added, so the calculation will be a little more complicated, but if you update the file, the tracking of strings will still be the same as befor

[2021-05-10 05:06] bruceCzK commented on #3
The S mode works as this:
You upload a file to a task, all strings in the file will be added to the task. To be notice, it's literarily ALL strings, if you want only the changed ones be added, you'll have to do a diff by yourself. And you'll notice that the upload button is green, because the safe mode is on by default, in this mode, no strings will be deleted from the database, as I explained bef

[2021-05-20 11:28] inarizushi0309 commented on #3
Hi, @bruceCzK !
A friend of mine has been having problems importing .txt files. He said that if you have a variable at the beginning of a sentence, the entry won't be recognized and won't be imported.
https://cdn.discordapp.com/attachments/630604459457773578/844863004758900736/SnapCrab_NoName_2021-5-20_18-1-5_No-00.png

[2021-05-20 11:46] bruceCzK commented on #3
Yes, this bug did exists. Fixed.

[2021-06-05 12:17] inarizushi0309 commented on #3
Hi, @bruceCzK !
Thanks for the server maintenance!
Has the way the files are generated changed since this update?
When I look at the file I just downloaded, it's in order by key name.

[2021-06-05 12:25] bruceCzK commented on #3
I've adjust some indexes in the db, it causes the default ordering changed. Fixed by now.

[2021-06-05 12:26] bruceCzK commented on #3
You can regenerate the archive to overwrite the old files.

[2021-06-19 05:46] inarizushi0309 commented on #3
Hi, @bruceCzK !
The search screen for similar entries is not working properly again.
![image](https://user-images.githubusercontent.com/37979626/122632313-fc70dd80-d10c-11eb-9dd9-afffdab743da.png)

[2021-06-19 07:16] bruceCzK commented on #3
OK. Fixed.

[2021-06-23 08:34] bruceCzK commented on #3
@matanki-saito Hi. Since vic3 is announced, I've received a lot requests to ask if I can republish the vic2 translation mod. We used to do a hardcoded crack to the main program exe and it seems to be pretty buggy right now. I'm wondering if you can develop a patch similar to the eu4 one, this can make a great influence to the community before vic3 is finally released. I know it's a big ask, please

[2021-06-24 02:18] matanki-saito commented on #3
Yes, that will be a big task for me. In the present situation, it is difficult to answer whether it is possible or not.

Actually, I've never played the Victoria series. I think I will buy it at the summer sale of Steam!

[2021-06-24 12:06] bruceCzK commented on #3
Thank you for the reply. I'm confident you'll make it.

[2021-07-02 09:22] bruceCzK commented on #3
@inarizushi0309 I've finally finished the file label feature, you can add labels to file in the file management page. Please try it out and feel free to send me advice.

[2021-07-02 09:34] inarizushi0309 commented on #3
Thank You, @bruceCzK !
![A59BAF49-9A6A-4F73-A3B4-BAB6B8E9A602](https://user-images.githubusercontent.com/37979626/124253933-7e2c2680-db63-11eb-8b00-0675c888bdd9.png)
It's a feature I've been waiting for, and it helps a lot!
Just a small request, some parts are still in Chinese, so please translate them into English. Of course, you can do it when you have time.

[2021-07-02 09:42] bruceCzK commented on #3
OK.

[2021-07-02 15:09] inarizushi0309 commented on #3
Hi, @bruceCzK .
![image](https://user-images.githubusercontent.com/37979626/124294508-bdbe3700-db92-11eb-9149-83ec1bbd7cb4.png)
When I registered a label, the file management screen did not display properly. The other work stations that I haven't tinkered with yet have the same problem.

[2021-07-02 16:00] bruceCzK commented on #3
![image](https://user-images.githubusercontent.com/8399711/124300649-5e135c00-db91-11eb-9118-e0e6971a9e06.png)
Sorry, fixed. And by the way, you can drag and select files now, but it's still a bit quirky right now, I'll do some optimize later.

[2021-07-03 03:11] inarizushi0309 commented on #3
I've gone through and used the label feature, and it works pretty good!
However, in using it, there were two things that I would like to see improved, so I'll write them down here.
・Add color to labels
・You can also view files by label in the file management screen.
・Increase the number of characters per line in the label list (file list screen) by a few more characters.

[2021-07-05 02:22] bruceCzK commented on #3
OK. I'll see what I can do.

[2021-09-02 14:09] inarizushi0309 commented on #3
Hi.
I put a question mark "?" in the advanced search field and searched. After that, when I open the advanced search screen again, the question mark disappears.
This bug has been seen recently, and the search itself is working fine.

[2021-09-02 14:34] bruceCzK commented on #3
Fixed. Also add a small feature to be able to search in the file of the selected string.

If you are searching something and a string is selected
![image](https://user-images.githubusercontent.com/8399711/131862863-b892ab81-d52f-4b3b-a469-f695bf52e3b0.png)

In advanced search you can see an option to control whether search in the current file
![image](https://user-images.githubusercontent.com/8399

[2021-09-02 16:04] inarizushi0309 commented on #3
Thanks for the quick response!
Being able to search in the file with the selected entry is a pretty handy improvement!

[2021-09-03 09:29] inarizushi0309 commented on #3
Sorry. Now the advanced search is all gone after I search.

[2021-09-04 05:11] bruceCzK commented on #3
What do you mean by 'all gone'?

[2021-09-04 05:13] inarizushi0309 commented on #3
Before search
![image](https://user-images.githubusercontent.com/37979626/132083332-e6ddbb3b-148c-4a62-a5fe-b1c712e39d4c.png)
After search
![image](https://user-images.githubusercontent.com/37979626/132083338-195f4f6c-0031-43d3-9594-145c28bcb155.png)
Not all of them, but some of them have disappeared.

[2021-09-04 05:45] bruceCzK commented on #3
Fixed.

[2021-09-30 11:52] inarizushi0309 commented on #3
Hi, @bruceCzK .
Are there any criteria for the workplaces listed on the top page of paratranz?
If there is a fixed work place or something, please make this work place more visible: https://paratranz.cn/projects/2063

[2021-09-30 12:23] bruceCzK commented on #3
Ok. I've move it to the top.

[2021-10-31 14:40] inarizushi0309 commented on #3
Hi, @bruceCzK .
There are two things I would like to see improved this time: first, I would like the suggestion function to prioritize (weight) data from specific workplaces. I would also like to know how the function currently selects the data.
Second, I would like to see the original text automatically reflected in the translation when it is set to "Translated" in the Strings list in the setting

[2021-11-03 07:16] bruceCzK commented on #3
The TM(translation memory) system is based on elasticsearch, the logic is pretty complicated, it mainly relies on the [More like this query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-mlt-query.html) function of elastic, with other small adjustments to the score(it's like match rate return by elastic), such as key 100% match, string stage (reviewed strings gets more

[2021-11-03 07:18] bruceCzK commented on #3
For the second one, I dont quite get your point. You mean after you edited the translation in the setting page, the UI didnt change? it seems like a bug to me.

[2021-11-03 08:08] inarizushi0309 commented on #3
![image](https://user-images.githubusercontent.com/37979626/140026605-41d5c624-809c-4c51-9a0d-ee49f4ee7f20.png)
This is what happens when I set multiple entries as translated at once.

[2021-11-03 11:00] bruceCzK commented on #3
Got it.

[2022-01-29 13:30] inarizushi0309 commented on #3
Hi, @bruceCzK .
Thanks to you, I'm still able to translate and really appreciate your help. I've got a few requests for you this time as well.
- Glitches
・Comment Management search is not functioning.
・The words registered in Terms are not displayed in the source text.
![image](https://user-images.githubusercontent.com/37979626/151662392-8e2abeb7-d3bf-4fdd-a384-549686e3f09f.png)

- Improvement
・Co

[2022-01-29 17:19] bruceCzK commented on #3
- Comment Management search is not functioning.
  - Fixed.
- The words registered in Terms are not displayed in the source text.
  - The feature is designed like this, the term should be between the beginning or end of a word (a bit like regexp \b metacharacter), in your case '-align' is behind 'Zhili', which is a word, the term match function works as it expected.
- Context can be added to each e

[2022-02-02 15:21] inarizushi0309 commented on #3
Thanks for being so quick to weigh in! I'm asking the person who suggested it about the ability to duplicate files, so I'll let you know as soon as I know.

By the way, I could ask for one more favor. That is, I would like to see a dedicated field in the Terms to list the sources of information. The current comments section in the Terms is too short to be seen while working on it.
So, it would be

[2022-03-06 14:30] inarizushi0309 commented on #3
Hi, @bruceCzK .
Thanks for the font change. I can understand the kanji better than before. By the way, I can't seem to add Disputed to entries anymore. Please check it out.

[2022-03-09 07:04] bruceCzK commented on #3
I've received other reports about the same issue. It's fixed by now.

[2022-03-24 15:34] inarizushi0309 commented on #3
Hi, @bruceCzK .
I would like to see a fix for the fact that full-width spaces at the beginning of sentences are not reflected in the text.

Also, you repaired the Dispute function the other day, but I wonder if it is a spec that the field to write the reason no longer appears when the button is pressed.

[2022-03-25 10:58] bruceCzK commented on #3
I've restored the dispute reason feature. And the trim space function is removed.

[2022-04-09 06:51] inarizushi0309 commented on #3
Hi, @bruceCzK .
Thanks for all your management. Two points need to be corrected. The first is that Skip for now is not working properly. The entry does not become Disputed when pressed. ![image](https://user-images.githubusercontent.com/37979626/162560163-5f56829d-cba7-4f65-98e4-4820f3b4a2ea.png)
 Second, when I delete a file with a tag attached, the number of tagged files does not decrease.

One

[2022-06-08 12:44] inarizushi0309 commented on #3
Hi, @bruceCzK . The UI has been refined to make this easy to use. However, there seems to be some parts that do not display well on smartphones (iPhone in my case).

![2C4E5AF2-6401-4B4B-BCDC-4FCD4A54CC69](https://user-images.githubusercontent.com/37979626/172618916-6f583d90-a113-40c4-a0a4-010e0d3ad7a3.png)
![EF05FF72-3056-4113-AE12-0CE506DBBC60](https://user-images.githubusercontent.com/37979626/

[2022-06-08 12:46] bruceCzK commented on #3
Thanks for the reminder, I'll do some fix.

[2022-06-09 02:57] inarizushi0309 commented on #3
Thanks for the quick response. I can't seem to get into paratranz since this morning, but will it be back up soon?

[2022-06-09 02:58] inarizushi0309 commented on #3
Sorry. Looks like you solved it.

[2022-06-09 05:44] bruceCzK commented on #3
Yes. The certificate was expired. I've changed a new one.

[2022-06-27 10:49] inarizushi0309 commented on #3
Hi, @bruceCzK .
I know it's short notice, but can you restore [the Project 500](https://paratranz.cn/projects/500) to the condition it was in at 3pm today? I accidentally put data from another source language into the original text, which left it mostly untranslated.

[2022-06-27 11:33] bruceCzK commented on #3
OK. I'm reverting the project, please do not make any change now.

[2022-06-27 12:06] bruceCzK commented on #3
OK. It's done. I've reverted the changed strings and deleted the newly added strings and files.

[2022-06-27 12:08] inarizushi0309 commented on #3
I cannot thank you enough for your prompt response. Thank you so much!

[2022-06-27 12:11] bruceCzK commented on #3
You're welcome.

[2022-08-23 07:51] inarizushi0309 commented on #3
HI, @bruceCzK .
![image](https://user-images.githubusercontent.com/37979626/186100456-0fd6d126-1a3c-4a5d-96a5-33d88395f1d9.png)
This entry BAY_heavy_tank_artillery_equipment_3: has been replaced by a variable due to a file update. However, it is still shown in Suggestions in its old state, and to remove it, the entry that was hidden by the change to a variable must be redisplayed, translated once,

[2022-08-23 11:45] bruceCzK commented on #3
These two issues are fixed.
The hidden strings were not synced to elastic for suggestion before, now it will be removed immediately, and I've updated the es database for this project.
For the second one, a 'Unlock ' button is added at the very position same as other operations, it works as the same as you unlock a string with Locked status.

[2022-08-23 13:26] inarizushi0309 commented on #3
Confirmed. Thanks as ever for your prompt response.

[2022-09-24 10:07] inarizushi0309 commented on #3
Hi, @bruceCzK .
There is one correction and one request.
Fix: Opening the original file of this [file](https://paratranz.cn/projects/500/strings?file=58572&anchor=17160226&page=1) opens a different file. It is normal when opening the original file from the file list in the admin page.

Request: Please restore the Japanese font that was used before. If it is difficult to deal with it as well as the

[2022-09-24 10:24] bruceCzK commented on #3
Emmm, the file opened seems to be correct. Could you be more specific? I saw a file named `localisation/KR_Equipment_l_english.yml` with id 58572.

And the font one, for the record, I haven't changed the font for a very long time (about 1 year I guess), so what fonts does a Japanese website usually use? Maybe If I just copy the Yahoo Japan setting?

[2022-09-24 10:32] inarizushi0309 commented on #3
Correct file is `localisation/KR_common/Equipment_l_english.yml`

There was a time when it was a Japanese font. I don't know how to install Japanese fonts either.

[2022-09-24 11:23] bruceCzK commented on #3
Both issues are fixed.

For the original file issue, there was a special mechanic before. The original file followed the source text update time, so you were not seeing a different file, it was a historical one, it was the file at the moment the string was imported. I've removed this mechanic, you'll always be viewing the latest file now.

[2022-09-27 17:05] inarizushi0309 commented on #3
Hi, @bruceCzK .
My friend created project 5277 as private and then changed it to public, but I can't get into the site (404). The project symbol is on the Paratranz home screen, but when I press it, it goes to 404. Apparently the configuration change is not working properly. Please check.

[2022-09-28 03:00] bruceCzK commented on #3
The project settings would be cached 30 minutes, that's why you got 404. I've changed the cache to be more 'real time', you won't get such errors now.

[2022-10-09 04:58] inarizushi0309 commented on #3
Hi, @bruceCzK .
Regarding file import, is it possible to import [〇〇_japanese.yml] into [〇〇_english.yml]? Also, when we DL such a yml file from the workroom, the first line of the file is always [l_english:]. Is it possible to add [l_japanese:] to this pattern option?

Finally, we can make these extravagant requests because you have prepared a brilliant tool, Paratranz, and because you have always

[2022-10-10 06:59] bruceCzK commented on #3
Which game are we talking about? Hoi4? Stellaris? Both?

[2022-10-10 07:00] inarizushi0309 commented on #3
hoi4

[2022-10-10 07:01] bruceCzK commented on #3
And this import matching 'thing' can be arranged, I'll do it later today.

[2022-10-10 07:02] bruceCzK commented on #3
OK. Is Stellaris need this too? As the file format is the same.

[2022-10-10 07:03] inarizushi0309 commented on #3
Stellaris is currently not essential, as there are only a few Japanese-language workplaces.

[2022-10-10 07:07] bruceCzK commented on #3
Oh, I'm watching my code and this is already implented to Stellaris. And I've changed the hoi4 file header, you'll need to do a full export to renew all the files.

[2022-10-10 07:13] inarizushi0309 commented on #3
Does this mean that once I regenerate and download the file, it will be fixed?

[2022-10-10 07:27] bruceCzK commented on #3
Yes it is.

[2022-10-29 09:14] matanki-saito commented on #3
Hi @bruceCzK
Sometimes we don't want to use bulk edit feature.
Could you prepare a function ON/OFF switch on the Admin page?
Thank you

(bulk edit popup)
![unknown](https://user-images.githubusercontent.com/35730970/198823403-51e1d5c2-709d-4d9f-922f-7d63cf100e02.png)

(admin page)
<img width="1017" alt="image" src="https://user-images.githubusercontent.com/35730970/198823576-129dfc1f-d799-4c84-841

[2022-10-29 09:53] bruceCzK commented on #3
Will this be better if I add the switch in the string editing page? So people can toggle it as their like.

![image](https://user-images.githubusercontent.com/8399711/198825143-5da8e18d-d691-4cfe-b757-7810f8ca2acd.png)

[2022-10-29 11:18] matanki-saito commented on #3
hmm I want to turn it off from the admin page because some users accidentally push "saveAll" button.

[2022-10-29 11:20] bruceCzK commented on #3
I see. OK, I'll add it later.

[2022-11-06 02:34] inarizushi0309 commented on #3
Hi, @bruceCzK
![image](https://user-images.githubusercontent.com/37979626/200151213-6bd7fa08-67ec-4f09-9670-e14d2822be58.png)
Due to the previous ability to import japanese.yml into english.yml, I am getting this warning even though the files have the same name.
Also, there was a report that english.yml cannot be imported as the original text in a file renamed to japanese.yml, can this be fixed?

[2022-11-06 04:42] bruceCzK commented on #3
I think this has been fixed yesterday, I've got the same report yesterday around 21:00.

[2022-11-06 04:44] inarizushi0309 commented on #3
This problem occurred around noon today. If I have the same problem again, I will contact you.

[2022-11-07 13:01] matanki-saito commented on #3
Hi, @bruceCzK

Victoria 3 Type has been added to Paratranz and I am thinking of changing to it. But now the project is importing json with context to display two things: the original Japanese and the original English. Making a Type change here will take away the context. Is there any solution?

thank you!

MyProject : https://paratranz.cn/projects/5456

[2022-11-12 06:16] inarizushi0309 commented on #3
Hi, @bruceCzK Same problem occurred.
![image](https://user-images.githubusercontent.com/37979626/201460341-e9cdb5a0-93ae-4543-b3b6-268be37f7acb.png)

[2022-11-12 08:59] inarizushi0309 commented on #3
This problem occurs when importing translations. Conversely, it does not occur when importing the original text.

This is a different issue, but could you please revert project 500 back to its pre-16:00 state? It's because of another accident on import. My apologies.

[2022-11-12 09:06] bruceCzK commented on #3
OK. I'm performing the reverting now.

[2022-11-12 09:51] bruceCzK commented on #3
I've reverted the two files, you can check if there's any mistake.

[2022-11-12 09:52] bruceCzK commented on #3
As for the import issue, I'll take a look tonight.

[2022-11-13 02:39] bruceCzK commented on #3
@inarizushi0309 I've made some changes, could you check if the bug still exists?

[2022-11-13 13:52] inarizushi0309 commented on #3
@bruceCzK
I was able to import it without any problems. Thanks for the quick response, including the file recovery.